<!doctype html>
<html lang="fr" class="fullpage">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Demandez votre démo gratuite de Quick Search avec un de nos experts" />
    <meta name="keywords" content="" />
    <meta name="author" content="talkwalker.com" />
    <meta name="csrf-token" id="csrf-token" content="wHfh7yuYaBXXyABrnFaHVI1uRCX22CzZGfs8haaL">
    <meta name="facebook-domain-verification" content="wm1ucuvfyvjqnfpb9vw2ehv8g78bmz" />
        <meta name="robots" content="noindex" />
        <meta property="og:url" content="https://www.talkwalker.com/fr/quick-search-form" />
    <meta property="og:title" content="Quick Search Form" />
    <meta property="og:site_name" content="Talkwalker" />
    <meta property="og:description" content="Demandez votre démo gratuite de Quick Search avec un de nos experts" />
    <meta property="og:image" content="https://www.talkwalker.com/images/landing/quick-search/landing-page-for-ads-3.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@talkwalker" />
    <meta name="twitter:creator" content="@talkwalker" />
    <meta name="twitter:title" content="Quick Search Form" />
    <meta name="twitter:description" content="Demandez votre démo gratuite de Quick Search avec un de nos experts" />
    <meta name="twitter:image" content="https://www.talkwalker.com/images/landing/quick-search/landing-page-for-ads-3.png" />
    <title>Quick Search Form - Talkwalker</title>
    <link rel="canonical" href="https://www.talkwalker.com/fr/quick-search-form">
            <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.defer=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WS3PWF');</script>
    <!-- End Google Tag Manager -->
            <link rel="preload" href="https://www.talkwalker.com/assets/frontend/css/app.css?80e4382a21ffaae1302c05b58b2fbf57" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://www.talkwalker.com/assets/frontend/css/app.css?80e4382a21ffaae1302c05b58b2fbf57">

    <link rel="preload" href="https://www.talkwalker.com/assets/frontend/styles/bootstrap.min.css?396c64b43b77054a26449ca8b97af2f5" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://www.talkwalker.com/assets/frontend/styles/bootstrap.min.css?396c64b43b77054a26449ca8b97af2f5">

    <link rel="preload" href="https://www.talkwalker.com/assets/frontend/styles/menu.css?0b2252dab828f2a4f9d3a56ccb22cda8" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://www.talkwalker.com/assets/frontend/styles/menu.css?0b2252dab828f2a4f9d3a56ccb22cda8">

    <link rel="preload" href="https://www.talkwalker.com/assets/frontend/styles/tw-manual-custom.min.css?aac57cfff7ba75b62822c27fc026843b" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://www.talkwalker.com/assets/frontend/styles/tw-manual-custom.min.css?aac57cfff7ba75b62822c27fc026843b">

    <link rel="preload" href="https://www.talkwalker.com/assets/frontend/styles/main.min.css?4bdafb882eaf45804ce63c59243118ae" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://www.talkwalker.com/assets/frontend/styles/main.min.css?4bdafb882eaf45804ce63c59243118ae">

    <link rel="preload" href="https://www.talkwalker.com/assets/frontend/styles/global.min.css?8df25aa8742c69bd600312e641013672" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://www.talkwalker.com/assets/frontend/styles/global.min.css?8df25aa8742c69bd600312e641013672">

        <link rel="preload" type="text/css" href="https://www.talkwalker.com/assets/frontend/styles/forms.min.css?5447771586162de1742cf8a40759fb38" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" type="text/css" href="https://www.talkwalker.com/assets/frontend/styles/forms.min.css?5447771586162de1742cf8a40759fb38">


    <link rel="preload" href="https://www.talkwalker.com/assets/frontend/styles/hero.min.css?dbb9b42cf2c9fefa3deab6c16b12c0a5" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://www.talkwalker.com/assets/frontend/styles/hero.min.css?dbb9b42cf2c9fefa3deab6c16b12c0a5">

    <link rel="preload" href="https://www.talkwalker.com/assets/frontend/styles/blocks.min.css?fa1e043fa4c74c5e127792e072c68121" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://www.talkwalker.com/assets/frontend/styles/blocks.min.css?fa1e043fa4c74c5e127792e072c68121">

    <link rel="preload" href="https://www.talkwalker.com/assets/frontend/styles/footer.min.css?fa7ed05ce4f25e2727ee57ef35fb3584" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://www.talkwalker.com/assets/frontend/styles/footer.min.css?fa7ed05ce4f25e2727ee57ef35fb3584">

    <link rel="preload" href="https://www.talkwalker.com/assets/frontend/styles/enterprise.min.css?bb487f2057eb5f6239462dbfd6a06ef4" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://www.talkwalker.com/assets/frontend/styles/enterprise.min.css?bb487f2057eb5f6239462dbfd6a06ef4">

    <link rel="preload" href="https://www.talkwalker.com/assets/frontend/styles/pr-comms.css?39ee0bd2b1cc835e6a8f0e80fe0ba976" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://www.talkwalker.com/assets/frontend/styles/pr-comms.css?39ee0bd2b1cc835e6a8f0e80fe0ba976">

    <link rel="preload" href="https://www.talkwalker.com/assets/frontend/styles/raj.min.css?5a2aa953e311d1cb9b1fdf2c47ef5370" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://www.talkwalker.com/assets/frontend/styles/raj.min.css?5a2aa953e311d1cb9b1fdf2c47ef5370">

        <link rel="shortcut icon" href="https://www.talkwalker.com/assets/frontend/media/favicon.ico" />
    <link rel="icon" href="https://www.talkwalker.com/assets/frontend/media/favicon.ico" />


            <link rel="alternate" hreflang="en-us" href="https://www.talkwalker.com/quick-search-form" />
            <link rel="alternate" hreflang="fr" href="https://www.talkwalker.com/fr/quick-search-form" />
            <link rel="alternate" hreflang="de" href="https://www.talkwalker.com/de/quick-search-form" />
            <link rel="alternate" hreflang="es" href="https://www.talkwalker.com/es/quick-search-form" />
            <link rel="alternate" hreflang="it" href="https://www.talkwalker.com/it/quick-search-form" />
            <link rel="alternate" hreflang="pt" href="https://www.talkwalker.com/pt/quick-search-form" />
            <link rel="alternate" hreflang="jp" href="https://www.talkwalker.com/jp/quick-search-form" />
        <link rel="alternate" hreflang="x-default" href="https://www.talkwalker.com/fr/quick-search-form" />
    <meta name="google-site-verification" content="jPQQbSe6hawzdqoedLbsgyq5czyU_n37XV4hEzZZBTk" />
    <meta name="google-site-verification" content="IWwptSLWLN5fd_dfLWjGGY3MCczAKu_bt3g4OM-vAhE" />

    <script src="https://www.talkwalker.com/assets/frontend/js/jquery.min.js?8fb8fee4fcc3cc86ff6c724154c49c42"></script>
    <script async src="https://www.talkwalker.com/assets/frontend/js/lazysizes.min.js?45bacd312d5098b4b59f563d8756c15d"></script>


    </head>

    <body class="overflow-x-hidden">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WS3PWF"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div id="cookie-bar" class='flex flex-row text-center w-full fixed m-0 fixed-bottom text-white'>
            <div class="flex flex-col sm:flex-row justify-center">
                <p class="my-2 align-middle text-center flex justify-center text-white text-xs font-display">En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies pour améliorer votre expérience utilisateur. Pour en savoir plus et paramétrer les traceurs, consultez notre page réservée à cet effet.</p>
                <a id="cookie-agree" class="p-2 min-w-[4vw] items-center flex text-center justify-center hover:border-[#009fda] hover:text-white hover:!bg-[#009fda] shadow-sm text-lg bg-transparent border-[4px] border-solid border-[#009fda]" href="#">OK</a> &nbsp;&nbsp;
                <a class="flex flex-col justify-center" href="/cookie-policy">
                    <span class="underline">En savoir plus</span>
                </a>
            </div>
        </div>

        <div class="container-fluid p-0">
      <div class="menu-color" style="padding-right: 1vw;">
      <div class="d-flex align-items-center justify-content-center" style="min-height: 50px;">
        <!--<div class="container-fluid d-none d-sm-flex d-md-flex justify-content-end">
        <!-- <a class="navbar-brand">Featured articles/ download docs / campaigns/ webinars</a>-->
        <!--</div>-->
        <div class="d-flex container-fluid flex-row top-menu-mobile !justify-end">
            <div class="d-flex flex-row justify-content-end">

                                                                                                                                                            <div style="min-width: 38px; border-right: solid 1px white;">
                            <a id="client-login-top" class="top-menu-item p-2 text-white  font-nav-top">Se connecter</a>
                        </div>
                                                                                                <div>
                    <a id="actual-lang"class="text-uppercase top-menu-item p-2 text-white  font-nav-top" href="#">Fr</a>
                </div>
            </div>
        </div>
      </div>
      </div>
</div>



<div class="tw-block tw-landing-section has-gradient text-center template-142" style="background-image: url(https://www.talkwalker.com/images/landing/quick-search/bg-for-banner.png);" id="block1455">
    <div class="container">
        <h2 class="main-heading"> Analyser un sentiment d'un tweet
            <span class="bolded show"></span>
        </h2>
    </div>
</div>


<div class="tw-block tw-landing-section" id="block1459">
    <div class="container">
        <div class="cell-container">
            <div class="cell">
                <img src="https://www.talkwalker.com/images/landing/quick-search/find-viral-content-slide.gif" alt="Trouvez des idées qui buzzent" title="">
            </div>
            <div class="cell">
                <h3 class="cell-heading">
                    <span class="bolded show">Trouvez des idées qui buzzent</span> et des tendances en temps réel
                </h3>
               <p class="cell-text"><p>Composez des messages pertinents, d&eacute;tectez le contenu qui buzze et donner un boost &agrave; vos campagnes gr&acirc;ce &agrave; des insights puissants. Lib&eacute;rez votre cr&eacute;ativit&eacute; en vous inspirant des hashtags, des emojis et des tendances autour de n'importe quel sujet. Le tout disponible dans un magnifique tableau de bord facile &agrave; utiliser.&nbsp;</p></p>
                <br /><br />

            </div>
        </div>
    </div>
</div>


<div class="container">
    <form class="col s12">
        <h1>Analyse de sentiments</h1>
        <p>Veuillez entrer le tweet à analyser </p>
        <form method="POST"
            action="https://3qzzh69uda.execute-api.us-east-1.amazonaws.com/Prod"
            onsubmit="return submitForm(this);" >
            
    </form>

    {% from "_formhelpers.html" import render_field %} 

    <form method=post action="/results">
      <dl>
        {{ render_field(form.moviereview, cols='30', rows='10') }}
 
      </dl>
      <div>
    	  <button type="submit" class="btn btn-primary">Soumettre</button>
      </div>
    </form>


</body>

</html>
